# 1. Assign everything in your TSQL folder as T-SQL and make it detectable
**/tsql-scripts/**/*.sql linguist-language=TSQL linguist-detectable=true

# 2. Assign everything in your SQL folder as standard SQL and make it detectable
**/sql-scripts/**/*.sql linguist-language=SQL linguist-detectable=true
